{% include base_path %}

<meta charset="utf-8">
<meta name="google-site-verification" content="google8d7be1be17bd19a7.html" />

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- Custom favicon: Maurice the cat 😸 -->
<link rel="icon" href="{{ '/favicon.ico?v=4' | relative_url }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ '/favicon.ico?v=4' | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ '/favicon.ico?v=4' | relative_url }}">

<!--<link rel="icon" type="image/x-icon" href="{{ '/maurice.ico' | relative_url }}">-->
<!--<link rel="icon" href="{{ '/favicon.ico?v=2' | relative_url }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ '/favicon.ico?v=2' | relative_url }}" type="image/x-icon">

<link rel="apple-touch-icon" href="{{ '/favicon.ico?v=2' | relative_url }}">-->

<!-- Custom site-wide CSS -->
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
